/* Prevents navbar from overlapping page */
body {
    padding-top: 70px;
    background-color: #f5e79e !important;
}

.title {
    color: orange !important;
}

.fixlink {
    padding-top: 60px;
    margin-top: -60px;
}